{% extends 'base.html.twig' %}

{% block title %}Accueil | AMF34{% endblock %}

{% block body %}
			<div id="wedo" class="wedo">
				<div class="container">
					<!--- wedo-grids ---->
					<div class="wedo-grids">
						<div class="col-md-6 wedo-left">
							<h4><label> </label>Le mot du président</h4>
							<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,</p>
						</div>
						<div class="col-md-6 wedo-right">
							<center><img class="image-president" src="{{ asset('assets/images/president.png') }}" title="demo" /></center>
							<br><br><h4>Mr Frédéric ROIG</h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!--- //presentation président -->
			<!--- Advertising -->
			<div id="advertising" class="advertising">
				<div class="container">
					<div class="advertising-grids d-flex">
						<div class="col-md-12 advertising-right text-right">
							<h4>A la une<label></label>
							</h4><br>
						</div>
						<div class="col-md-8">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-example-generic" data-slide-to="1"></li>
										<li data-target="#carousel-example-generic" data-slide-to="2"></li>
									</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										{% for news in latestNews|slice(0,1) %}
										<div class="col-md-8 h-100" style="padding: 10px;">
											<h3 style="padding: 10px;">{{ news.title }}</h3>
											<p style="padding: 10px;">
												{{ news.content|striptags|u.truncate(250, '...') }}
											</p>
											<small>{{ news.createdAt|date }}</small>
										</div>
										<div class="col-md-4 h-100">
											<img class="imageNews" style="padding: 5px;" src="{{asset('assets/images/news/' ~ news.image ) }}"/>
										</div>
									</div>
								</div>
							</div>
										{% endfor %}
							<br><br>
							<a class="wedobtn" href="#">Voir toute l'actualité</a>
						</div>

						<div class="col-md-4 advertising-right text-right">
							<center><a class="twitter-timeline" data-lang="fr" data-width="400" data-height="420" data-theme="dark"
								href="https://twitter.com/l_amf?ref_src=twsrc%5Etfw">Le fil d'actu</a></center>
							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"> 
							</script>
						</div>
					</div>
				</div>
			</div>

			<!---//Advertising ->
			<!- marketing -->
			<div id="marketing" class="marketing" style="margin-bottom: 10px;">
				<div class="container">
					<div class="marketing-grids">
						<div class="col-md-12 marketing-left text-left">
							<h4><label> </label>l'agenda</h4>
							<!-- Flickity HTML init -->
							<div class="gallery js-flickity" data-flickity-options='{ "autoPlay": 2500 }'>

								{% for events in latestEvents|slice(0,3) %}
								<div class="gallery-cell">
									<div class="eventsDate">Le {{ events.date }}</div>
									<div class="eventsTitle">{{ events.title }}</div>
									<div class="eventsHour">{{ events.hour }}</div>
									<div class="eventsLocation">{{ events.location }}</div>
									<div class="eventsContent">{{ events.content }}</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}


